<div class="chat-container">
  <div class="result-wrapper">
    <mat-card class="result-card" *ngFor="let items of arrOfItems">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{items.name}}</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="{{items.imgURL}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Seleccionar</button>
        <button mat-button>Reemplazar</button>
      </mat-card-actions>
    </mat-card>
    
  </div>
  <form class="example-form" (onSubmit)="onSubmitForm($event)">
    <mat-form-field class="example-full-width">
      <mat-label>Tema Especializado</mat-label>
      <input matInput placeholder="Ej. Matematicas" #queryInput>
    </mat-form-field>
    <button mat-button color="warn" (click)="submitQuery(queryInput.value)">Enviar</button>
  </form>
</div>
<router-outlet></router-outlet>
