.chat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &.side-template {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
  }
}

.result-wrapper {
  display: flex;
}


.result-card {
  max-width: 306px;
  margin: 0 10px;
}
